In [1]:
%pip install kagglehub 
%pip install sqlalchemy
%pip install mysql-connector-python
%pip install pandas
%pip install dotenv

Requirement already satisfied: kagglehub in ./.venv/lib/python3.13/site-packages (0.3.12)
Requirement already satisfied: packaging in ./.venv/lib/python3.13/site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in ./.venv/lib/python3.13/site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in ./.venv/lib/python3.13/site-packages (from kagglehub) (2.32.4)
Requirement already satisfied: tqdm in ./.venv/lib/python3.13/site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in ./.venv/lib/python3.13/site-packages (from requests->kagglehub) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.13/site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.13/site-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.13/site-packages (from requests->kagglehub) (2025.8.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.13/site-packages (2.0.43)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.13/site-packages (from sqlalchemy) (4.14.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysql-connector-python in ./.venv/lib/python3.13/site-packages (9.4.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in ./.venv/lib/python3.13/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.13/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Collecting dotenv
  Downloading dotenv-0.9.9-py2.py3-none-any.whl.metadata (279 bytes)
Collecting python-dotenv (from dotenv)
  Using cached python_dotenv-1.1.1-py3-none-any.whl.metadata (24 kB)
Downloading dotenv-0.9.9-py2.py3-none-any.whl (1.9 kB)
Using cached python_dotenv-1.1.1-py3-none-any.whl (20 kB)
Installing collected packages: python-dotenv, dotenv
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [dotenv]
Successfully installed dotenv-0.9.9 python-dotenv-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
import pandas as pd
from sqlalchemy import create_engine

In [74]:
# Set the path to the file you'd like to load
file_path = "Airline Dataset Updated - v2.csv"

# Load the latest version
flights_df = pd.read_csv('Airline Dataset Updated - v2.csv')


flights_df['Departure Date MySQL'] = pd.to_datetime(flights_df['Departure Date'], format='mixed', errors='coerce').dt.strftime('%Y-%m-%d')
# df = df.drop(columns=['Country Name','Airport Continent','Continents', 'Airport Country Code', 'Departure Date'])
# df.rename(columns={'Departure Date MySQL':'Departure Date'}, inplace=True)

In [73]:
def clean_column_names(df):
    df.columns = (
        df.columns
        .str.strip()                # remove spaces at the beginning and end
        .str.lower()                # lowercase the names
        .str.replace(' ', '_')   # replace internal spaces with underscores
    )
    return df

In [75]:

flights_df = clean_column_names(flights_df)
flights_df

,passenger_id,first_name,last_name,gender,age,nationality,airport_name,airport_country_code,country_name,airport_continent,continents,departure_date,arrival_airport,pilot_name,flight_status,departure_date_mysql
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,On Time,2022-06-28
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Marla Parsonage,On Time,2022-12-26
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Rhonda Amber,On Time,2022-01-18
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Kacie Commucci,Delayed,2022-09-16
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Ebonee Tree,On Time,2022-02-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98614,hnGQ62,Gareth,Mugford,Male,85,China,Hasvik Airport,NO,Norway,EU,Europe,12-11-2022,HAA,Pammie Kingscote,Cancelled,2022-12-11
98615,2omEzh,Kasey,Benedict,Female,19,Russia,Ampampamena Airport,MG,Madagascar,AF,Africa,10/30/2022,IVA,Dorice Lochran,Cancelled,2022-10-30
98616,VUPiVG,Darrin,Lucken,Male,65,Indonesia,Albacete-Los Llanos Airport,ES,Spain,EU,Europe,09-10-2022,ABC,Gearalt Main,On Time,2022-09-10
98617,E47NtS,Gayle,Lievesley,Female,34,China,Gagnoa Airport,CI,Côte d'Ivoire,AF,Africa,10/26/2022,GGN,Judon Chasle,Cancelled,2022-10-26
98618,8JYEcz,Wilhelmine,Touret,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,EU,Europe,4/16/2022,JOK,Auguste Tindley,Delayed,2022-04-16

In [77]:
passenger_df = flights_df[['passenger_id', 'first_name', 'last_name', 'gender', 'age', 'nationality']]
passenger_df

      passenger_id  first_name  last_name  gender  age nationality
0           ABVWIg      Edithe     Leggis  Female   62       Japan
1           jkXXAX      Elwood       Catt    Male   62   Nicaragua
2           CdUz2g       Darby    Felgate    Male   67      Russia
3           BRS38V    Dominica       Pyle  Female   71       China
4           9kvTLo         Bay    Pencost    Male   21       China
...            ...         ...        ...     ...  ...         ...
98614       hnGQ62      Gareth    Mugford    Male   85       China
98615       2omEzh       Kasey   Benedict  Female   19      Russia
98616       VUPiVG      Darrin     Lucken    Male   65   Indonesia
98617       E47NtS       Gayle  Lievesley  Female   34       China
98618       8JYEcz  Wilhelmine     Touret  Female   10      Poland

[98619 rows x 6 columns]

In [91]:
def clean_airport_columns(airport_df):
    return airport_df[['ident', 'type', 'name', 'continent', 'iso_country', 'iso_region', 'municipality']]

In [92]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "airport-codes_csv.csv"

# Load the latest version
new_airport_df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "joebeachcapital/airport-codes",
  file_path,
  # Provide any additional arguments like 
  # sql_query or pandas_kwargs. See the 
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

new_airport_df = clean_column_names(new_airport_df)
new_airport_df = clean_airport_columns(new_airport_df)
new_airport_df

/var/folders/9x/t81_t1w14_s8w2jy_nx_xn4m0000gn/T/ipykernel_36350/1775243742.py:10: DeprecationWarning: load_dataset is deprecated and will be removed in a future version.
  new_airport_df = kagglehub.load_dataset(

,ident,type,name,continent,iso_country,iso_region,municipality
0,00A,heliport,Total Rf Heliport,NaN,US,US-PA,Bensalem
1,00AA,small_airport,Aero B Ranch Airport,NaN,US,US-KS,Leoti
2,00AK,small_airport,Lowell Field,NaN,US,US-AK,Anchor Point
3,00AL,small_airport,Epps Airpark,NaN,US,US-AL,Harvest
4,00AR,closed,Newport Hospital & Clinic Heliport,NaN,US,US-AR,Newport
...,...,...,...,...,...,...,...
57416,ZYYK,medium_airport,Yingkou Lanqi Airport,AS,CN,CN-21,Yingkou
57417,ZYYY,medium_airport,Shenyang Dongta Airport,AS,CN,CN-21,Shenyang
57418,ZZ-0001,heliport,Sealand Helipad,EU,GB,GB-ENG,Sealand
57419,ZZ-0002,small_airport,Glorioso Islands Airstrip,AF,TF,TF-U-A,Grande Glorieuse
57420,ZZZZ,small_airport,Satsuma IÅjima Airport,AS,JP,JP-46,Mishima-Mura

In [ ]:
airport_small_df = new_airport_df[['ident', 'name']]
clean_flight_df = pd.merge(left=flights_df, right=airport_small_df, left_on='airport_name', right_on='name', how='left')
clean_flight_df.rename(columns={'ident':'departure_airport'}, inplace=True)
clean_flight_df

,passenger_id,first_name,last_name,gender,age,nationality,airport_name,airport_country_code,country_name,airport_continent,continents,departure_date,arrival_airport,pilot_name,flight_status,departure_date_mysql,departure_airport,name
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,On Time,2022-06-28,PACX,Coldfoot Airport
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Marla Parsonage,On Time,2022-12-26,CYCO,Kugluktuk Airport
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Rhonda Amber,On Time,2022-01-18,NaN,NaN
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Kacie Commucci,Delayed,2022-09-16,CYND,Ottawa / Gatineau Airport
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Ebonee Tree,On Time,2022-02-25,66B,Gillespie Field
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106846,hnGQ62,Gareth,Mugford,Male,85,China,Hasvik Airport,NO,Norway,EU,Europe,12-11-2022,HAA,Pammie Kingscote,Cancelled,2022-12-11,ENHK,Hasvik Airport
106847,2omEzh,Kasey,Benedict,Female,19,Russia,Ampampamena Airport,MG,Madagascar,AF,Africa,10/30/2022,IVA,Dorice Lochran,Cancelled,2022-10-30,FMNZ,Ampampamena Airport
106848,VUPiVG,Darrin,Lucken,Male,65,Indonesia,Albacete-Los Llanos Airport,ES,Spain,EU,Europe,09-10-2022,ABC,Gearalt Main,On Time,2022-09-10,LEAB,Albacete-Los Llanos Airport
106849,E47NtS,Gayle,Lievesley,Female,34,China,Gagnoa Airport,CI,Côte d'Ivoire,AF,Africa,10/26/2022,GGN,Judon Chasle,Cancelled,2022-10-26,DIGA,Gagnoa Airport
106850,8JYEcz,Wilhelmine,Touret,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,EU,Europe,4/16/2022,JOK,Auguste Tindley,Delayed,2022-04-16,UWKJ,Yoshkar-Ola Airport

In [88]:

def clean_flight_columns(flights_df):
    df = flights_df[['passenger_id', 'departure_airport', 'arrival_airport', 'departure_date_mysql', 'flight_status', 'pilot_name']]
    df.rename(columns={'departure_date_mysql':'departure_date'}, inplace=True)
    return df

In [90]:
clean_flight_df = clean_flight_columns(clean_flight_df)
clean_flight_df

/var/folders/9x/t81_t1w14_s8w2jy_nx_xn4m0000gn/T/ipykernel_36350/773051840.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'departure_date_mysql':'departure_date'}, inplace=True)

,passenger_id,departure_airport,arrival_airport,departure_date,flight_status,pilot_name
0,ABVWIg,PACX,CXF,2022-06-28,On Time,Fransisco Hazeldine
1,jkXXAX,CYCO,YCO,2022-12-26,On Time,Marla Parsonage
2,CdUz2g,NaN,GNB,2022-01-18,On Time,Rhonda Amber
3,BRS38V,CYND,YND,2022-09-16,Delayed,Kacie Commucci
4,9kvTLo,66B,SEE,2022-02-25,On Time,Ebonee Tree
...,...,...,...,...,...,...
106846,hnGQ62,ENHK,HAA,2022-12-11,Cancelled,Pammie Kingscote
106847,2omEzh,FMNZ,IVA,2022-10-30,Cancelled,Dorice Lochran
106848,VUPiVG,LEAB,ABC,2022-09-10,On Time,Gearalt Main
106849,E47NtS,DIGA,GGN,2022-10-26,Cancelled,Judon Chasle
106850,8JYEcz,UWKJ,JOK,2022-04-16,Delayed,Auguste Tindley

In [ ]:
def to_mysql(df, table_name, database_name, password):
    # Create a database connection engine
    # Replace 'username', 'password', 'host', 'port', 'database' with your MySQL credentials
    engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{database_name}')

    # Write the DataFrame to MySQL, table will be created automatically if not exists
    flights_df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

    print(f"DataFrame written to MySQL table '{table_name}' successfully.")

In [2]:
from dotenv import load_dotenv
import os

def load_password(env_variable):
    load_dotenv()  # Loads variables from .env file
    return os.getenv(env_variable)

In [ ]:
password = load_password('MYSQL_PASSWORD')

to_mysql(df=clean_flight_df, table_name='flight', database_name='airline_db', password=password)
to_mysql(df=new_airport_df, table_name='airport', database_name='airline_db', password=password)
to_mysql(df=passenger_df, table_name='passenger', database_name='airline_db', password=password)